.searchResultsContainer {
  background-color: #f9f9f9;
  padding: 50px 0px;
  font-family: Roboto;
}

.searchResults {
  margin: 0 auto;
  max-width: 78.75rem;
  padding: 0 3.75rem;
  display: flex;
  flex-wrap: wrap;
}

.searchResultsTitle {
  width: 100%;
  padding-bottom: 20px;
}

.searchResultsTitle h1 {
  font-family: Playfair Display;
  font-size: 2.8125rem;
  padding-bottom: 15px;
  margin-bottom: 10px;
  border-bottom: .0625rem solid #e3e3e3;
}

.searchResultsTitle p {
  font-size: 16px;
}

.searchResultsWrapper {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.filters {
  width: 30%;
  margin-right: 20px;
  background-color: #fff;
  height: fit-content;
  box-shadow: 0 0.0625rem 0.3125rem rgb(0 0 0 / 20%);
  background: #fff;
  border-radius: 0.25rem;
}

.filters ul, .results ul {
  padding: 0;
}

.results {
  padding-top: 10px;
}

#filters-list {
  border: 1px solid rgba(0, 0, 0, 0.05)
}

#filters-list p {
  padding: 8px 16px;
  font-weight: 700;
}

.results {
  border: 1px solid rgba(0, 0, 0, 0.05);
  flex-grow: 1;
  background-color: #fff;
  height: fit-content;
  box-shadow: 0 0.0625rem 0.3125rem rgb(0 0 0 / 20%);
  background: #fff;
  border-radius: 0.25rem;
}

.book {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.bookImage {
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bookImage img {
  width: 60px;
  height: auto;
}

.bookForm {
  color: gray;
  font-size: 12px;
  margin-bottom: 10px;
}

.bookInfo {
  font-size: 12px;
}

.bookInfo p {
  margin-bottom: 3px;
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

@media screen and (max-width: 550px) {
  .searchResultsWrapper {
    flex-direction: column;
  }

  .filters {
    width: 100%;
  }

  .results {
    width: 100%
  }
}