.overview {
  width: 100%;
  margin-top: 10px;
  display: flex;
  margin-bottom: 20px;
}

.accountBooks {
  border: 1px solid rgba(0, 0, 0, 0.05);
  flex-grow: 1;
  background-color: #fff;
  height: fit-content;
  box-shadow: 0 0.0625rem 0.3125rem rgb(0 0 0 / 20%);
  background: #fff;
  border-radius: 0.25rem;
  padding: 15px;
}

.plainLink {
  color: inherit;
  text-decoration: none;
}

.accountBooks h3 {
  padding: 0 16px;
}

.accountBooks li {  
  border-bottom: .0625rem solid #e3e3e3; 
}

.removeBook {
  flex-grow: 1;
}

.removeBookButton {
  float: right;
  width: fit-content;
  color: #fff;
  background-color: rgba(0,0,0,.3);
  height: 30;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 0.25rem;
  padding: 0.9375rem;
  letter-spacing: .03125rem;
  font-size: 14px;
  text-align: center;
  border: none;
  cursor: pointer;
  padding: 10px 30px;
}

.accountBooks .buttonWrapper {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 700px) {
  .overview {
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
}

@media screen and (max-width: 550px) {
  .removeBook {
    width: 100%;
    display: flex;
    padding: 10px 0px;
  }
  .removeBookButton {
    float: none;
    margin: 0 auto;
    height: 30px;
    font-size: 12px;
    padding: 5px 30px;
  }
  .accountBooks li {  
    flex-wrap: wrap; 
  }
}