.sendMessage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sendMessage .recipient {
  width: 70%;
  margin-bottom: 20px;
}

.sendMessage .topic {
  margin-bottom: 20px;
  width: 70%;
}

.sendMessage .message {
  width: 70%;
}

.sendMessage .topic>div {
  width: 100%;
}

.sendMessage .message>div {
  width: 100%;
}

.sendMessage .submit {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.sendMessage .success {
  color: green
}