.messages {
  margin-top: 10px;
  display: flex;
  margin-bottom: 20px;  
  flex-grow: 1;
}

.messagesWrapper {
  width: 100%;
}

.messagesWrapper h2 {
  margin-bottom: 20px;
}

.messageList>div {
  margin-bottom: 10px;
}

.messageDetails {
  list-style: none;
  display: flex;
  width: 100%;
}

.messageDetails-from {
  width: 35%;
}

.messageDetails-date {
  margin-left: auto
}

.messageDetails li {
  margin-right: 20px;
}

.deleteIcon {
  display: flex;
  justify-content: flex-end;
}

.deleteIcon>span {
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .messages {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
