.messages {
  margin-top: 10px;
  display: flex;
  margin-bottom: 20px;
}

.messagesWrapper {
  width: 100%;
}

.messagesWrapper h2 {
  margin-bottom: 20px;
}

.messageList>div {
  margin-bottom: 10px;
}

.messageDetails {
  list-style: none;
  display: flex;
  width: 100%;
}

.messageDetails-from {
  width: 35%;
}

.messageDetails-date {
  margin-left: auto
}

.messageDetails li {
  margin-right: 20px;
}