.accountSettings {
  margin-top: 10px;
  display: flex;
  margin-bottom: 20px;
  flex-grow: 1;
}

.passwordField,
.basicInfo {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.basicInfo>div,
.passwordField>div {
  margin: 10px;
  max-width: 400px;
}

.accountSettingsWrapper h3 {
  margin-left: 10px;
}

.accountSettingsWrapper button {
  margin-left: 155px;
}

.accountSettingsWrapper .error {
  color: red;
  text-align: center;
}

.accountSettingsWrapper .success {
  color: green;
  text-align: center;
}

@media screen and (max-width: 700px) {
  .accountSettings {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}