.accountNav {
  margin-top: 20px;
  margin-bottom: 40px;
}

.accountNav ul {
  display: flex;
  list-style: none;
}

.accountNav a {
  text-decoration: none;
  color: inherit;
}

.accountNav li {
  margin-right: 15px;
  cursor: pointer;
}