.searchBar {
  width: 100vw;
  height: 350px;
}

.searchBarBackground {
  background: url(https://ibiblioteka.lt/metis/intro-bg2.f35c4d1dad0583878c37.png);
  width: 100vw;
  height: 350px;
  position: absolute;
  top: 100;
  left: 0;
  z-index: -99;
}

.searchBarWrapper {
  padding-top: 2rem;
  display: flex;
  align-items: center;
  color: white;
  flex-direction: column;
}

.searchBarWrapper h1 {
  margin-bottom: 1rem;
}

.searchForm {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.searchFormWrapper {
  width: 400px;
}

.searchFormWrapper>div>div {
  background-color: white;
}

.plainLink {
  color: white;
  text-decoration: none;
}

#searchButton {
  margin-left: 20px;
  height: 100%;
  padding-left: 30px;
  padding-right: 30px;
}

#searchButton svg {
  font-size: 20px;
  margin-right: 5px;
}

.mini {
  height: 150px;
}

.mini h1 {
  display: none;
}

.mini .searchBarBackground {
  background: #1a1349;
  height: 150px;
  width: 100%;
}