.manageBooks {
  display: flex;
  flex-grow: 1;
}

.manageBooksWrapper {
  width: 70%
}

.manageBooksWrapper .success {
  color: green;
  text-align: center;
  margin-bottom: 50px;
}

.imagePreview {
  width: 25%;
}

.imagePreview img {
  width: 100%;
}

.bookDetails {
  display: flex;
  flex-direction: column;
}

.padding-15 {
  margin-bottom: 15px;
}

.bookSelector, .bookDetails {
  width: 90%;
}

.bookDetails>select, .bookDetails>select:focus {
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.42);
  background: transparent;
  margin-top: 10px;
  padding-bottom: 5px;
}

.bookDetails>label>input {
  margin-left: 10px;
}

.submitButtons {
  display: flex;
  justify-content: center;
}

.submitButtons button {
  margin: 20px 5px;
}