.accountPageWrapper {
  background-color: #f9f9f9;
  font-family: Roboto;
}

.accountPageData {
  margin: 0 auto;
  max-width: 78.75rem;
  padding: 0 3.75rem;
  display: flex;
  flex-wrap: wrap;
}

.accountPageData h3, ul {
  width: 100%;
}